@import "tailwindcss";


@font-face {
  font-family: 'Netflix';
  src: url('./Fonts/NetflixSans-Regular.otf');
  font-weight: 500;
  font-style: normal;
}

.Netflix{
  font-family: Netflix;
}


/* index.css or global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
