@import "tailwindcss";


@font-face {
  font-family: 'Netflix';
  src: url('./Fonts/NetflixSans-Regular.otf');
  font-weight: 500;
  font-style: normal;
}

.Netflix{
  font-family: Netflix;
}


/* index.css or global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}



.slide-down {
  animation: slideDown 0.6s ease-in-out forwards;
}

@keyframes slideDown {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
